body {
    background: #000 url('bg.jpg') no-repeat center center/cover;
    height: 100vh;
    color: #fff;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
  }

.logo {
    text-align: center;
    margin: 50px;
}

.logo img {
    margin: 0;
}

.head{
    display: flex;
    justify-content: center;
    margin: 50px;
}

.form-control{
    margin-right: 10px;
    width: 25%;
}

.table-image
    td, th {
      vertical-align: middle;
      color: #fff;
    }


img{
    width: 35%;
}

.img-fluid:hover{
    /* width: 100%; */
    transform: scale(2);
}

.show{
    visibility: visible;
}

.hide{
    visibility: hidden;
}